flows.json
[
    {
        "id": "66fb07a542280215",
        "type": "tab",
        "label": "Recovered Nodes",
        "disabled": false,
        "info": "The nodes on this flow were missing a valid flow id when they were imported. They have been added to this flow so you can either restore or delete them.",
        "env": []
    },
    {
        "id": "63a60bad283dd1a1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "281e05d.f5f5904",
        "type": "inject",
        "z": "66fb07a542280215",
        "name": "Trigger",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "87c6f05e.1c7b8"
            ]
        ]
    },
    {
        "id": "87c6f05e.1c7b8",
        "type": "function",
        "z": "66fb07a542280215",
        "name": "Hello World Function",
        "func": "// Set the message payload to 'Hello World!'\nmsg.payload = \"Hello World!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "740c02c.43f2e4"
            ]
        ]
    },
    {
        "id": "740c02c.43f2e4",
        "type": "debug",
        "z": "66fb07a542280215",
        "name": "Debug Output",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "39d865147f293479",
        "type": "inject",
        "z": "66fb07a542280215",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "4a7c720d89dcb895"
            ]
        ]
    },
    {
        "id": "4a7c720d89dcb895",
        "type": "function",
        "z": "66fb07a542280215",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 260,
        "wires": [
            [
                "a92611c53234860c"
            ]
        ]
    },
    {
        "id": "a92611c53234860c",
        "type": "debug",
        "z": "66fb07a542280215",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "f6ca07af634c1c1a",
        "type": "inject",
        "z": "66fb07a542280215",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "254971d0bdb6dbb4"
            ]
        ]
    },
    {
        "id": "254971d0bdb6dbb4",
        "type": "function",
        "z": "66fb07a542280215",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "46303a26924d220a"
            ]
        ]
    },
    {
        "id": "46303a26924d220a",
        "type": "switch",
        "z": "66fb07a542280215",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "31047f588d4526c9"
            ]
        ]
    },
    {
        "id": "31047f588d4526c9",
        "type": "debug",
        "z": "66fb07a542280215",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 440,
        "wires": []
    }
]